@charset "UTF-8";

@font-face {
  font-family : gyosyo;
  src         : local("Arisawa-Gyosho"), local("有澤行書"), url("./FAGGM.TTF");
  font-weight : 700;
}

body {
  background  : #fefcef;
  font-family : gyosyo;
  font-size   : 6mm;
}

#ranking, .ranking-item {
  background    : #f3f3f3;
  border-radius : 1mm;
}

#ranking {
  box-shadow                 : 2px 2px 4px black;
  height                     : 0;
  margin                     : 8mm;
  position                   : relative;
  transition-duration        : 0.3s;
  transition-property        : height;
  transition-timing-function : ease-in-out;
}

.ranking-item {
  box-shadow                 : 0 0 0 black;
  height                     : 18mm;
  left                       : 0;
  padding                    : 2mm 0;
  opacity                    : 1;
  overflow                   : hidden;
  position                   : absolute;
  transition-duration        : 0.3s;
  transition-property        : border-radius, box-shadow, height, left, opacity, top;
  transition-timing-function : ease-in-out;
  width                      : 100%;
  z-index                    : auto;
}

.ranking-item_moving {
  border-radius : 1.2mm;
  box-shadow    : 6px 6px 12px black;
  left          : -1mm;
}

.ranking-item-order, .ranking-item-userName, .ranking-item-score {
  float       : left;
  height      : 100%;
  margin      : 0 2mm;
  line-height : 18mm;
  top         : 0;
}

.ranking-item-order {
  background           : #ef283a;
  border-radius        : 50%;
  color                : white;
  font-size            : 8.6mm;
  height               : 18mm;
  text-align           : center;
  transition-duration  : 0.3s;
  transition-property  : background;
  width                : 18mm;
  -moz-writing-mode    : vertical-rl;
  -webkit-writing-mode : vertical-rl;
  writing-mode         : tb-rl; /*old IE*/
  writing-mode         : vertical-rl;
}

.ranking-item_movingDown .ranking-item-order { background : #d51021; }

.ranking-item_movingUp .ranking-item-order { background : #f79395; }

.ranking-item-userName {
  font-size     : 9mm;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
  width         : 60%;
}

.ranking-item-score { max-width : 18mm; }

@media screen and (max-width : 641px) {
  body { font-size : 3mm; }

  #ranking { margin : 4mm; }

  .ranking-item { height : 9mm; }

  .ranking-item-order, .ranking-item-userName, .ranking-item-score {
    line-height : 9mm;
  }

  .ranking-item-order {
    font-size : 4.2mm;
    height    : 9mm;
    width     : 9mm;
  }

  .ranking-item-userName { font-size : 4.5mm; }

  .ranking-item-score { max-width : 9mm; }
}

@media screen and (max-width : 300px) {
  #ranking { margin : 0; }
}
